:root 
{
    --primario: #00B295;
    --secundaria: #DBFCFF;
    --claro: #F5E3E0;
    --escuro: #191516;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body
{
    background-color: var(--claro);
}

.app 
{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.calculadora
{
    width: 100%;
    max-width: 400px;
    background-color: #FFF;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 64px rgba(0, 0, 0, .2);
}

.display
{
    padding: 16px;
    text-align: right;
    background-color: var(--escuro);
    color: var(--claro);
    font-size: 1.5rem;
    font-weight: 300;
}

.display span
{
    font-size: 1rem;
    color: #888;
}

button
{
    appearance: none;
    border: none;
    outline: none;
    color: #FFF;
    font-size: 1.25rem;
    padding: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

button:hover
{
    opacity: 0.9;
}

.operadores
{
    display: flex;
}

.operadores button
{
    flex: 1 1 0%;
    background-color: var(--primario);
    font-weight: bold;
    font-size: 1.5rem;
}

.numeros 
{
    display: flex;
    flex-wrap: wrap;
}

.numeros button
{
    flex: 1 1 33.333%;
    max-width: 1 1 33.333%;
    background-color: var(--escuro);
}